* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, html{
	background-color:#8B4513;
	margin:0;
	padding:0;
	font-family: 'Oldenburg', cursive;
	color:black;
}



.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}


.flex-header {
	margin-bottom:4px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 98%;
	background-color:black; 
	color:gold; 
    font-size: 16px;
	text-align: center;
}
	

.flex-prospector {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
	font-size:24px;
}
	

.flex-click-container {
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 50%;
	text-align:center;
}
	
div#tutorial-text{
	margin-top:10px;
	text-align:center;
	font-size:2em;
}

.flex-tools-list {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

.flex-tools-list-item{
    max-width: 240px;
    height: 150px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
	border:1px solid black;
}

button.purchase-item{
	display:block;
	font-family: 'Oldenburg',cursive;
	font-size: 2em;
	padding: 2px;
	width: 240px;
}

.flex-notes {
	align-content:center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 98%;
}

.flex-footer {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 98%;
	background-color:black;
	color:#ddd;
}
	
.flex-footer-item{
	width:300px;
	height:auto;
	flex-grow:0;
	flex-shrink:0;
	flex-basis:0;
}

p{
	text-align: left;
	font-size:20px;
	font-family: 'Oldenburg', cursive;
}

h1{
	font-family:'Smokum',cursive;
	font-size:5em;
}

button.pan-gold{
	font-family: 'Oldenburg', cursive;
	font-size: 48px;
	border: 4px solid black;
	background:gold;
}

h2, h4, tr, td {
	font-family: 'Oldenburg', cursive;	
}

h5{
	font-family:'Smokum', cursive;
	font-size:2em;
	margin:0;
	border:0;
	padding:0;
}

img#prospector-img{
	margin:auto;
	border:4px solid black;
	display:block;
	max-width:250px;
}

div#prospector-ticker
{
	margin-top:8px;
	clear:left;
	text-align:center;
	vertical-align:bottom;
	padding:2px;
	font-family: 'Oldenburg', cursive;
	height:auto;
}

span#seconds-played{
	margin-left:10%;
}